@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


.colon {
    display: grid;
    color: var(--sm-secondary-orange);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    grid-column: 2;
    padding: 9px 9px 0 9px;
    height: 41px;
}

.colon span {
    margin: auto;
}

.event-history-item {
    display: grid;
    grid-template-columns: 8fr 0.5fr 8fr;
    width: 100%;
    min-height: 106px;
    margin: 16px;
    font-size: 10px;
    background-color: var(--sm-primary-bg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border: 2px solid var(--sm-secondary-orange);
    border-radius: 10px;
}

.user-side {
    grid-column: 1;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 9px 9px 0 9px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
}

.opponent-side {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding: 9px 9px 0 9px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
}

.score {
    height: 35px;
    color: var(--sm-secondary-orange);
    font-weight: bold;
    font-size: 16px;
    grid-row: 1;
    display: grid;
}

.score span {
    margin: auto 0;
}

.user-score {
    grid-column: 3;
    text-align: right;
}

.opponent-score {
    grid-column: 1;
    text-align: left;
}

.profile {
    grid-column: 2;
    color: var(--sm-secondary-orange);
    margin: auto;
}
.user-name {
    grid-row: 2;
}

.opponent-name {
    grid-row: 2;
}

.user-avatar {
    width: 35px;
    height: 35px;
    grid-row: 1;
}

.opponent-avatar {
    width: 35px;
    height: 35px;
    grid-row: 1;
    margin: auto;
}

.match-status {
    color: var(--sm-secondary-orange);
    font-weight: bold;
    font-size: 12px;;
    position: relative;
    padding: 4px 4px 8px 8px;
    letter-spacing: 10%;
}

