@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');




.colon {
    display: block;
    color: #FC4C02;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    grid-column: 2;
    padding: 9px;
}

.event-history-item {
    display: grid;
    grid-template-columns: 8fr 0.5fr 8fr;
    min-width: 361px;
    min-height: 106px;
    margin: 16px;
    font-size: 10px;
    background-color: #F7F7F7;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border: 2px solid #FC4C02;
    border-radius: 10px;
}
  
.user-side {
    grid-column: 1;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 9px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
}

.opponent-side {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 9px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
}

.user-score {
    text-align: right;
    color: #FC4C02;
    font-weight: bold;
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
}

.opponent-score {
    text-align: left;
    color: #FC4C02;
    font-weight: bold;
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
}

.user-name {
    color: #FC4C02;
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

.opponent-name {
    color: #FC4C02;
    grid-column: 2;
    grid-row: 2;
    margin: auto;

}


.user-avatar {
    border: 2px solid #FC4C02;
    grid-column: 1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url("pictures\jeffrey-keenan-pUhxoSapPFA-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    grid-row: 1;
    margin: auto;
}

.opponent-avatar {
    border: 2px solid #FC4C02;
    grid-column: 2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url("pictures\michael-dam-mEZ3PoFGs_k-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    grid-row: 1;
    margin: auto;
}

.match-status {
    color: #FC4C02;
    font-weight: bold;
    position: relative;
    padding: 4px;
}

