
.join-event-btn-grey {    
    background-color: var(--sm-dark);
    margin-top: 1rem;
}
.join-event-btn-orange {    
    background-color: var(--sm-orange);
    margin-top: 1rem;
}


.join-event-wrapper {    
    padding-left: 5%;
    padding-right: 5%;
    color: var(--sm-orange);
    background-color: var(--sm-primary-bg);
    height: 60%;
    width: 100%;
    text-align: center;
    border-radius: 40px;
}

.joint-event-title {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.join-event-message {
    padding: 0;
    margin-right: 0;
    font-size: var(--sm-text-size);
}
