
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-login {
  width: 430px;
  background: #fff;
  border: 2px solid rgba(65, 58, 58, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: #ccc;
  border-radius: 10px;
  padding: 30px 20px;
}

.wrapper-login h1 {
  color: #e85f29;
  font-size: var(--sm-h1-heading);
  text-align: center;
}

.login-input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 30px 0;
}

.login-input-box input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(65, 58, 58, 0.2);
  border-radius: 40px;
  font-size: var(--sm-text-content);
  padding: 20px 45px 20px 20px;
}

.login-input-box input::placeholder {
  color: #ccc;
  font-size: var(--sm-text-content);
}

.login-input-box input:focus {
  outline-color: #e85f29;
}

.login-input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--sm-text-content);
  color: #a1a0a0;
}

.login-remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: var(--sm-text-content);
  margin: -15px 0 15px;
}

.login-remember-forgot input {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}

.login-remember-forgot label input {
  accent-color: #e85f29;
  margin-right: 4px;
}

.login-remember-forgot a {
  position: relative;
  top: 4px;
  color: #ccc;
  text-decoration: none;
}

.login-remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper-login button {
  width: 100%;
  height: 45px;
  background: #e85f29;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: var(--sm-primary-font);
  font-size: var(--sm-text-content);
  color: #fff;
  font-weight: 600;
}

.wrapper-login button:hover {
  transform: scale(1.05);
}

.login-register-link {
  font-size: var(--sm-text-content);
  text-align: center;
  margin: 20px 0 15px;
}

.login-register-link  p a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}

.login-register-link p a:hover {
  text-decoration: underline;
}

.alt-login {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alt-login div {
  width: 45%;
  height: 90%;
  border-radius: 40px;
  background-color: #e85f29;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  justify-content: center;
}

.alt-login div:hover {
  transform: scale(1.05);
}

.g-icon {
  color: #fff;
  position: relative;
  top: 17px;
  left: 40%;
  transform: translateY(-50%);
  font-size: var(--sm-text-content);
}

.fb-icon {
  color: #fff;
  position: relative;
  top: 20px;
  left: 40%;
  transform: translateY(-50%);
  font-size: var(--sm-text-content);
}

.alt-login-text {
  color: #e85f29;
  text-decoration: none;
  text-align: center;
}

.error-message {
  color: red;
  font-size: var(--sm-text-content);
}
