.mainPage-form {
  display: flex;
}

/* Sports Container Styles */
.mainPage-sports-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin: 2vh auto;
  width: 90%;
}

.mainPage-sports-checkbox {
  display: none;
}

.mainPage-sports-button {
  display: inline-block;
  padding: 5px 15px;
  border: none;
  background-color: #2c2b2b;
  color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  transform: scale(1.05);
  margin: 3vh 0;
}

#mainPage-more-sports-button {
  display: inline-block;
  max-height: 40px;
  margin-top: 2.5vh;
  padding: 5px 15px;
  border: none;
  background-color: #2c2b2b;
  color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}

.mainPage-sports-checkbox:checked + .mainPage-sports-button {
  background-color: #e85f29;
  color: #fff;
}

.mainPage-p {
  margin-left: 8vw;
  margin-top: 4vh;
}

/* Nearby Events Container Styles */
.nearby-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nearby-events {
  width: 360px;
  border: 2px solid gray;
  padding-left: 1px;
  margin: 1vw;
}

/* Media Queries */
@media (max-width: 768px) {
  .nearby-events-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 0 0 0;
    width: 90%;
  }

  .mainPage-sports-button {
    margin: 5% 0 0 0;
  }

  #mainPage-more-sports-button {
    margin: 1% 0 0 0;
  }
}

@media (max-width: 515px) {
  .search-container {
    position: relative;
    margin-top: 2vh;
  }

  .nearby-events-container {
    position: absolute;
    margin: auto;
    width: 100%;
  }

  .mainPage-sports-container {
    width: 90%;
    justify-content: space-around;
  }

  .mainPage-p {
    margin-top: 14vh;
  }
}
