.match {
  margin-top: 4em;
}

.match .row {
  margin: 0.75em 0;
  box-shadow: var(--sm-border-shadow);
  background: linear-gradient(0deg,var(--sm-orange-overlay),var(--sm-orange-overlay)),url(./assets/InProgress.png);
  background-clip: content-box;
  background-size: cover;
  border-radius: var(--sm-border-radius);
  min-height: 395px;
}

.match .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.563em;
}

.match .col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.match .col svg {
  margin-right: 0.5em;
}

.match h1 {
  font-family: var(--sm-secondary-font);
  font-size: 2.5em !important;
  font-weight: 900;
  color: var(--sm-white);
}

.match .overlap {
  padding-top: 0.563em;
  padding-right: 0.563em;
}
