.modal-overlay {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;    
    background: linear-gradient(0deg, rgba(76, 72, 72, 0.7), rgba(76, 72, 72, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 90%;
    height: 75%;    
    border-radius: 1rem;
  }

