.rate-game-window-wrapper {
    height: 100%;
    width: 90%;    
    background-color: var(--sm-white);      
}

.form-control::placeholder, textarea, .rate-game-window-wrapper {
    color: var(--sm-orange);
}

.rate-game-label {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}    

.textarea-label, .event-details, .score-input-label, .star-rating-label {
    font-size: 0.75rem;
}

.event-details, .score-input-label {    
    text-align: center;
}

.event-details {
    margin: 0;
}

.score-input-label {    
    margin-top: 0.75rem;
    margin-bottom: 0.2rem;
    margin-right: 0;    
}

.score-input-panel {
    display: grid;
    grid-template-columns: 0.5fr 4.375rem 0.5fr 0.688rem auto 0.688rem 0.25fr 0.5rem 0.25fr 0.688rem auto 0.688rem 0.5fr 4.375rem 0.5fr;
    grid-template-rows: 0.625rem 3.125rem 0.625rem 1.563rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.star-rating-label {
    margin: 0;       
}

.user-picture {
    display: grid;
    grid-column: 2 / 3;    
    grid-row: 1 / 4;    
}

.user-score-rating {
    display: grid;
    grid-column: 4 / 7;    
    grid-row: 2 / 3;
    grid-template-columns: subgrid;    
    border-radius: 30%;
    border: 2px solid var(--sm-orange);
}

.score-input-user {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;    
}

.user-name-score-panel {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
}

.divider {
    display: grid;
    grid-column: 8 / 9;  
    grid-row: 2 / 3;
    font-size: 1.75rem;
    font-weight: 900;
}
.opponent-score-rating {
    display: grid;
    grid-column: 10 / 13;    
    grid-row: 2 / 3;   
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    border-radius: 30%;
    border: 2px solid var(--sm-orange);      
}

.opponent-picture {
    display: grid;
    grid-column: 14 / 15;    
    grid-row: 1 / 4;   
}

.opponent-name-score-panel {
    display: grid;
    grid-column: 13 / 16;
    grid-row: 4 / 5;
    text-align: center;
}
.star-rating {     
    align-items: center;
}

.form-control {    
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--sm-orange);
    font-size: 2rem;
    font-weight: 700;
    width: 2ch; 
    text-align: center; 
}

button {
    width: 100%;
    height: 2rem;
    background: var(--sm-orange);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: var(--sm-white);    
}

#text-user-rating {
    border: none;
    background-color: var(--sm-primary-bg);
    width: 100%;    
}

.textarea-label {  
    margin-top: 1.5rem; 
    margin-bottom: 0.25rem;
}

textarea {
    padding: 0.25rem 0.5rem;    
}
