.checkbox {    
  appearance: none;       
}

.allsports-page {
  margin-top: 64px;
  position: relative;

}

.checkbox-wrapper{
  font-size: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px; 
  margin: 0.5rem 0;
  padding: 0.25rem 0;
}


.selected {
color: #e85f29;
background: linear-gradient(
      0deg,
      var(--sm-orange-overlay),
      var(--sm-orange-overlay)
    )
}

.unselected {
color: #FFFFFF;
}

.input-search { 
  height: inherit; 
  width: 100%; 
  border: 1px solid rgba(65, 58, 58, 0.2);
  border-radius: 40px;
  font-size: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1.75rem;
}
  
.search-icon {
  position: relative;
  top: 1.6rem;
  left: 0.75rem;
  color: #4a494f; 
  font-size: 0.75rem;
}

button {
  width: 85%;
  height: 1.5rem;
  background: #e85f29;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.6rem;  
  color: #fff;
  position: absolute;
  bottom: 1rem;
}