.row.user-input input::placeholder {
  color: #ccc;
}

.row.user-input input:focus {
  outline-color: var(--sm-orange);
}

.row.user-input input {
  margin-top: 1.875em;
  height: 3.125em;
  width: 100%;
  border: none;
  border-radius: 2.5em;
  padding: 1.063em;
  outline: solid;
  outline-width: 0.125em;
  outline-color: #ccc;
}

.row.gender {
  margin-top: 1.875em;
}

.gender-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 10.5em;
  width: 8.75em;
  background-color: var(--sm-orange);
  border-radius: 2.5em;
  color: white;
}

.row.sports {
  margin-top: 1.875em;
}

input.submit {
  width: 100%;
  height: 3.125em;
  background-color: var(--sm-orange);
  border: none;
  border-radius: 2.5em;
  color: white;
}

.submit {
  margin-top: 1.875em;
}

.unselected-gen {
  background-color: var(--sm-orange);
}

.selected-gen {
  background-color: var(--sm-dark);
}

.gender-card input {
  appearance: none;
}